src/main/mule/timezone-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eec0c9b7-781c-4061-8af1-270bdac673e8" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="2dfa3410-427f-4491-88ce-5ae7da3e92be" basePath="/api" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="timezone-appFlow" doc:id="e7cea45e-29ba-4504-a85c-91b4b83a5a8e" >
		<http:listener doc:name="Listener" doc:id="250b2d2d-bc9e-4754-b084-6bc096b0b0e1" config-ref="HTTP_Listener_config" path="time/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="e0e2b8ff-cff8-4110-8976-ccc191eb9c94" config-ref="HTTP_Request_configuration" path="/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c542326d-8061-4def-a1a9-09118612282d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
